body {
    position: relative;

    background-color: #111111;
    font-family: Arial, sans-serif;

    /* Make a gridlike pattern */
    background-image: radial-gradient(circle, #1e1c19, 5px, transparent 5px);
    background-size: 80px 80px;
    background-repeat: repeat;
}

/* Global */
* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer */
    user-select: none;         /* Non-prefixed version */
}

img {
    pointer-events: none;
}

/* Title Card */
#titleCard {
    display: flex;
    align-items: center;

    top: 0;
    left: 0;

    transform: translateY(-32px);
}

    .cutImage {
        width: 96px;
        height: 96px;

        margin-right: 20px;
    }

    .titleCardText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

        .titleCardLine1 {
            position: relative;
            margin-bottom: 5px;

            font-size: 48px;
            font-family: 'Ubuntu', sans-serif;
        
            color: #ff8800;
            -webkit-text-stroke: 1px #925800;

            transform: translate(-8px,-8px);
        }

        .titleCardLine2 {
            position: relative;
            margin-top: 0px;

            font-size: 32px;
            font-family: 'Ubuntu', sans-serif;
        
            color: #ffc400;
            -webkit-text-stroke: 1px #887400;

            transform: translate(0px,-16px);
        }

/* Basic, Complex */
#complexitySelection {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 32px;

    width: 100%;
    transform: translateY(-86px);
}  

    .basic {
        position: relative;
        margin-bottom: 5px;

        font-size: 32px;
        font-family: 'Ubuntu', sans-serif;
    
        color: #ffc400;
        -webkit-text-stroke: 1px rgb(119, 71, 0);    
        
        background-color: #313131;
        border-radius: 16px;
        outline-color: #1e1c19;
        outline-width: 4px;
        outline-style: solid;

        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;

        transition: color 0.3s ease, -webkit-text-stroke 0.3s ease, padding-left 0.3s ease, padding-right 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease;
    }

    .basic:hover {
        color: #ff8800;
        -webkit-text-stroke: 1px rgb(59, 27, 0);  
        
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 4px;
        padding-bottom: 4px;

        transition: color 0.3s ease, -webkit-text-stroke 0.3s ease, padding-left 0.3s ease, padding-right 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease;
    }

    .complex {
        position: relative;
        margin-bottom: 5px;

        font-size: 32px;
        font-family: 'Ubuntu', sans-serif;
    
        color: #ffc400;
        -webkit-text-stroke: 1px rgb(119, 71, 0);    
        
        background-color: #313131;
        border-radius: 16px;
        outline-color: #1e1c19;
        outline-width: 4px;
        outline-style: solid;

        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;

        transition: color 0.3s ease, -webkit-text-stroke 0.3s ease, padding-left 0.3s ease, padding-right 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease;
    }

    .complex:hover {
        color: #ff8800;
        -webkit-text-stroke: 1px rgb(59, 27, 0);  
        
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 4px;
        padding-bottom: 4px;

        transition: color 0.3s ease, -webkit-text-stroke 0.3s ease, padding-left 0.3s ease, padding-right 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease;
    }