#slicerTitleCard {
    display: flex;
    align-items: center;

    top: 0;
    left: 0;

    transform: translateY(-32px);
}

    #slicerTitleImage {
    margin-right: 20px;

    --slide-preAnimation-pos: translate(-100px,0px);
    --slide-postAnimation-pos: translate(8px,0px);
    }

    #slicerTitleCardText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

        #slicerTitleCardLine1 {
            margin-bottom: 5px;

            --slide-preAnimation-pos: translate(-150px,-8px);
            --slide-postAnimation-pos: translate(-8px,-8px);
        }

        #slicerTitleCardLine2 {
            margin-top: 0px;

            --slide-preAnimation-pos: translate(-150px,-16px);
            --slide-postAnimation-pos: translate(0px,-16px);
        }
    
    #slicerBackImage {
        margin-left: 650px;

        --slide-preAnimation-pos: translate(150px,0px);
        --slide-postAnimation-pos: translate(0px, 0px);
    }